// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import 'theme';

// Icons
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    padding-top: 120px; // To prevent overlap with sticky navbar
    
    /*
    |--------------------------------------------------------------------------
    | General
    |--------------------------------------------------------------------------
    */
    i.fa, i.fas, i.fab {
        color: $white;
    }
    
    .pro-card {
        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            width: 0;
            height: 0;
            right: -3px;
            top: -3px;
            border-left: 41px solid transparent;
            border-right: 41px solid transparent;
            border-bottom: 41px solid #EE7A00;
            border-radius: 100%;
            transform: rotate(45deg) translateX(18%) translateY(-59%);
            -webkit-backface-visibility: hidden;
        }
        
        i.pro-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1;
            display: block !important;
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | All page sections
    |--------------------------------------------------------------------------
    */
    section.home, section.category {
        header {
            i {
                color: $primary;
                font-size: 110px;
            }
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | Home page
    |--------------------------------------------------------------------------
    */
    section.home {
        main {
            .card {
                background-color: #067195;
                text-align: center;
                
                .card-link {
                    color: $white;
                    
                    .card-header {
                        background-color: inherit;
                        padding: 20px;
        
                        i {
                            font-size: 80px;
                        }
                    }
    
                    .card-body {
                        p {
                            letter-spacing: 4px;
                        }
                    }
                }
            }
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | Category pages
    |--------------------------------------------------------------------------
    */
    section.category {
        header {
            h1 {
                letter-spacing: 8px;
            }
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | Student perks
    |--------------------------------------------------------------------------
    */
    .row.student-perks {
        img {
            height: 120px;
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | YouTube video container
    |--------------------------------------------------------------------------
    */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        
        .loading {
            padding: 20%;
        }
    
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
