// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import 'theme';

// Icons
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    padding-top: 120px; // To prevent overlap with sticky navbar
    
    /*
    |--------------------------------------------------------------------------
    | General
    |--------------------------------------------------------------------------
    */
    i.fa, i.fas, i.fab {
        color: $white;
    }
    
    /*
    |--------------------------------------------------------------------------
    | All page sections
    |--------------------------------------------------------------------------
    */
    section.home, section.category {
        header {
            i {
                color: $primary;
                font-size: 110px;
            }
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | Home page
    |--------------------------------------------------------------------------
    */
    section.home {
        main {
            .card {
                background-color: #067195;
                text-align: center;
                
                .card-link {
                    color: $white;
                    
                    .card-header {
                        background-color: inherit;
                        padding: 20px;
        
                        i {
                            font-size: 80px;
                        }
                    }
    
                    .card-body {
                        p {
                            letter-spacing: 4px;
                        }
                    }
                }
            }
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | Category pages
    |--------------------------------------------------------------------------
    */
    section.category {
        header {
            h1 {
                letter-spacing: 8px;
            }
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | Student perks
    |--------------------------------------------------------------------------
    */
    .row.student-perks {
        img {
            height: 120px;
        }
    }
    
    /*
    |--------------------------------------------------------------------------
    | YouTube video container
    |--------------------------------------------------------------------------
    */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        
        .loading {
            padding: 20%;
        }
    
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .image-container {
        text-align: center;
        margin: 3px;
        
        img {
            width: 100%;
        }
    }
}
